# Ranking Corruption rate by Country and Region

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('index.csv')
df1

,CPI Rank,Country,Country Code,Region,Corruption Perceptions Index (CPI),Standard Error,Lower Confidence Interval,Upper Confidence Interval,World Bank CPIA,World Economic Forum EOS,...,African Development Bank CPIA,IMD World Competitiveness Yearbook,Bertelsmann Foundation Sustainable Governance Index,World Justice Project Rule of Law Index,PRS International Country Risk Guide,Varities of Democracy Project,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,PERC Asia Risk Guide,Sources
0,1,New Zealand,NZL,Asia Pacific,90,2.56,86,94,NaN,90.0,...,NaN,95.0,99.0,79.0,93.0,NaN,90.0,NaN,NaN,7
1,1,Denmark,DNK,Europe and Central Asia,90,2.46,86,94,NaN,85.0,...,NaN,98.0,99.0,85.0,93.0,NaN,90.0,NaN,NaN,7
2,3,Finland,FIN,Europe and Central Asia,89,1.46,87,92,NaN,91.0,...,NaN,94.0,90.0,85.0,93.0,NaN,90.0,NaN,NaN,7
3,4,Sweden,SWE,Europe and Central Asia,88,1.33,85,90,NaN,86.0,...,NaN,86.0,90.0,85.0,93.0,NaN,90.0,NaN,NaN,7
4,5,Switzerland,CHE,Europe and Central Asia,86,1.57,83,89,NaN,80.0,...,NaN,88.0,90.0,NaN,85.0,NaN,90.0,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,170,Sudan,SDN,Sub-Saharan Africa,14,2.99,9,19,2.0,NaN,...,11.0,NaN,NaN,NaN,6.0,22.0,19.0,NaN,NaN,7
172,173,Syria,SYR,Middle East and North Africa,13,1.97,10,16,NaN,NaN,...,NaN,NaN,NaN,NaN,15.0,12.0,19.0,NaN,NaN,5
173,174,Korea (North),PRK,Asia Pacific,12,1.39,10,15,NaN,NaN,...,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,3
174,175,South Sudan,SSD,Sub-Saharan Africa,11,3.21,5,16,2.0,NaN,...,5.0,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,5
175,176,Somalia,SOM,Sub-Saharan Africa,10,2.98,5,15,NaN,NaN,...,0.0,NaN,NaN,NaN,15.0,17.0,NaN,NaN,NaN,5

### Exploring data with describe function

In [3]:
df1.describe()

,CPI Rank,Corruption Perceptions Index (CPI),Standard Error,Lower Confidence Interval,Upper Confidence Interval,World Bank CPIA,World Economic Forum EOS,Global Insight Country Risk Ratings,Bertelsmann Foundation Transformation Index,African Development Bank CPIA,IMD World Competitiveness Yearbook,Bertelsmann Foundation Sustainable Governance Index,World Justice Project Rule of Law Index,PRS International Country Risk Guide,Varities of Democracy Project,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,PERC Asia Risk Guide,Sources
count,176.000000,176.000000,176.000000,176.000000,176.000000,69.000000,141.000000,176.000000,129.000000,38.000000,61.000000,41.000000,110.000000,140.000000,74.000000,129.000000,29.000000,15.000000,176.000000
mean,87.198864,42.948864,3.055966,37.926136,47.965909,31.202899,45.723404,43.153409,36.341085,27.947368,57.770492,65.902439,46.100000,44.342857,36.945946,45.387597,44.448276,52.800000,6.545455
std,50.543562,19.436716,1.706570,19.678275,19.574297,15.143995,20.662287,19.943471,15.877705,14.879602,22.325914,17.958013,20.026565,21.269349,17.399332,21.524808,14.480495,19.172898,1.835579
min,1.000000,10.000000,0.850000,3.000000,15.000000,2.000000,10.000000,10.000000,8.000000,0.000000,21.000000,33.000000,13.000000,6.000000,9.000000,19.000000,25.000000,34.000000,3.000000
25%,44.000000,29.000000,1.997500,24.000000,34.000000,24.000000,29.000000,22.000000,28.000000,17.000000,38.000000,52.000000,31.000000,32.000000,22.250000,37.000000,30.000000,37.500000,5.000000
50%,87.000000,38.000000,2.575000,33.000000,43.500000,35.000000,42.000000,34.000000,36.000000,30.500000,52.000000,61.000000,38.500000,41.000000,36.000000,37.000000,44.000000,44.000000,7.000000
75%,131.000000,57.000000,3.342500,50.000000,62.250000,35.000000,59.000000,59.000000,45.000000,40.250000,80.000000,80.000000,62.750000,58.000000,49.000000,54.000000,57.000000,69.000000,8.000000
max,176.000000,90.000000,12.810000,87.000000,94.000000,69.000000,91.000000,83.000000,77.000000,53.000000,98.000000,99.000000,85.000000,93.000000,69.000000,90.000000,70.000000,89.000000,10.000000

## Sort countries by CPI

In [4]:
df1.sort_values('Corruption Perceptions Index (CPI)', ascending=False).head()

,CPI Rank,Country,Country Code,Region,Corruption Perceptions Index (CPI),Standard Error,Lower Confidence Interval,Upper Confidence Interval,World Bank CPIA,World Economic Forum EOS,...,African Development Bank CPIA,IMD World Competitiveness Yearbook,Bertelsmann Foundation Sustainable Governance Index,World Justice Project Rule of Law Index,PRS International Country Risk Guide,Varities of Democracy Project,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,PERC Asia Risk Guide,Sources
0,1,New Zealand,NZL,Asia Pacific,90,2.56,86,94,NaN,90.0,...,NaN,95.0,99.0,79.0,93.0,NaN,90.0,NaN,NaN,7
1,1,Denmark,DNK,Europe and Central Asia,90,2.46,86,94,NaN,85.0,...,NaN,98.0,99.0,85.0,93.0,NaN,90.0,NaN,NaN,7
2,3,Finland,FIN,Europe and Central Asia,89,1.46,87,92,NaN,91.0,...,NaN,94.0,90.0,85.0,93.0,NaN,90.0,NaN,NaN,7
3,4,Sweden,SWE,Europe and Central Asia,88,1.33,85,90,NaN,86.0,...,NaN,86.0,90.0,85.0,93.0,NaN,90.0,NaN,NaN,7
4,5,Switzerland,CHE,Europe and Central Asia,86,1.57,83,89,NaN,80.0,...,NaN,88.0,90.0,NaN,85.0,NaN,90.0,NaN,NaN,6

## Sort countries by Global Insight Country Risk Ratings

In [5]:
df1.sort_values('Global Insight Country Risk Ratings', ascending=False).head()

,CPI Rank,Country,Country Code,Region,Corruption Perceptions Index (CPI),Standard Error,Lower Confidence Interval,Upper Confidence Interval,World Bank CPIA,World Economic Forum EOS,...,African Development Bank CPIA,IMD World Competitiveness Yearbook,Bertelsmann Foundation Sustainable Governance Index,World Justice Project Rule of Law Index,PRS International Country Risk Guide,Varities of Democracy Project,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,PERC Asia Risk Guide,Sources
0,1,New Zealand,NZL,Asia Pacific,90,2.56,86,94,NaN,90.0,...,NaN,95.0,99.0,79.0,93.0,NaN,90.0,NaN,NaN,7
8,9,Canada,CAN,Americas,82,2.03,79,85,NaN,73.0,...,NaN,85.0,80.0,79.0,85.0,NaN,90.0,NaN,NaN,7
15,15,Belgium,BEL,Europe and Central Asia,77,1.55,74,79,NaN,73.0,...,NaN,79.0,80.0,74.0,76.0,NaN,72.0,NaN,NaN,7
14,15,Hong Kong,HKG,Asia Pacific,77,2.62,73,82,NaN,82.0,...,NaN,87.0,NaN,77.0,67.0,NaN,72.0,NaN,74.0,7
13,14,Iceland,ISL,Europe and Central Asia,78,3.81,71,84,NaN,85.0,...,NaN,80.0,61.0,NaN,85.0,NaN,72.0,NaN,NaN,6

### create a new dataframe with only the relevant values
- there was too much NaN values and the only columns that did not have any NaN values are CPI and Global Insight Country Risk Ratings.

In [6]:
df2 = pd.DataFrame(df1, columns=['Country', 'Region', 'Corruption Perceptions Index (CPI)', 'Global Insight Country Risk Ratings'])
df2

,Country,Region,Corruption Perceptions Index (CPI),Global Insight Country Risk Ratings
0,New Zealand,Asia Pacific,90,83
1,Denmark,Europe and Central Asia,90,83
2,Finland,Europe and Central Asia,89,83
3,Sweden,Europe and Central Asia,88,83
4,Switzerland,Europe and Central Asia,86,83
...,...,...,...,...
171,Sudan,Sub-Saharan Africa,14,22
172,Syria,Middle East and North Africa,13,10
173,Korea (North),Asia Pacific,12,10
174,South Sudan,Sub-Saharan Africa,11,10
175,Somalia,Sub-Saharan Africa,10,10

### Simplify Columns

In [7]:
df2['GI'] = df2['Global Insight Country Risk Ratings']
df2['CPI'] = df2['Corruption Perceptions Index (CPI)']
df2 = df2.drop(['Global Insight Country Risk Ratings', 'Corruption Perceptions Index (CPI)'], axis=1)
df2

           Country                        Region  GI  CPI
0      New Zealand                  Asia Pacific  83   90
1          Denmark       Europe and Central Asia  83   90
2          Finland       Europe and Central Asia  83   89
3           Sweden       Europe and Central Asia  83   88
4      Switzerland       Europe and Central Asia  83   86
..             ...                           ...  ..  ...
171          Sudan            Sub-Saharan Africa  22   14
172          Syria  Middle East and North Africa  10   13
173  Korea (North)                  Asia Pacific  10   12
174    South Sudan            Sub-Saharan Africa  10   11
175        Somalia            Sub-Saharan Africa  10   10

[176 rows x 4 columns]

## Create a function to calculate average between two values and apply it using lamda function
### Column 'ULT' is the average between Global Insight Country Risk Ratings and Corruption Perceptions Index

In [8]:
def calculate(gi, cpi):
    result = (3 * gi + 2 * cpi) / 5
    return result

df2['ULT'] = df2[['GI', 'CPI']].apply(lambda x: calculate(x["GI"], x["CPI"]), axis=1)
df2

           Country                        Region  GI  CPI   ULT
0      New Zealand                  Asia Pacific  83   90  85.8
1          Denmark       Europe and Central Asia  83   90  85.8
2          Finland       Europe and Central Asia  83   89  85.4
3           Sweden       Europe and Central Asia  83   88  85.0
4      Switzerland       Europe and Central Asia  83   86  84.2
..             ...                           ...  ..  ...   ...
171          Sudan            Sub-Saharan Africa  22   14  18.8
172          Syria  Middle East and North Africa  10   13  11.2
173  Korea (North)                  Asia Pacific  10   12  10.8
174    South Sudan            Sub-Saharan Africa  10   11  10.4
175        Somalia            Sub-Saharan Africa  10   10  10.0

[176 rows x 5 columns]

### Top 10 countries by ULT

In [9]:
df2.sort_values('ULT', ascending=False).head(10)

        Country                   Region  GI  CPI   ULT
0   New Zealand             Asia Pacific  83   90  85.8
1       Denmark  Europe and Central Asia  83   90  85.8
2       Finland  Europe and Central Asia  83   89  85.4
3        Sweden  Europe and Central Asia  83   88  85.0
4   Switzerland  Europe and Central Asia  83   86  84.2
5        Norway  Europe and Central Asia  83   85  83.8
6     Singapore             Asia Pacific  83   84  83.4
7   Netherlands  Europe and Central Asia  83   83  83.0
8        Canada                 Americas  83   82  82.6
10   Luxembourg  Europe and Central Asia  83   81  82.2

### Worst 10 countries by ULT

In [10]:
df2.sort_values('ULT', ascending=True).head(10)

                      Country                        Region  GI  CPI   ULT
175                   Somalia            Sub-Saharan Africa  10   10  10.0
174               South Sudan            Sub-Saharan Africa  10   11  10.4
173             Korea (North)                  Asia Pacific  10   12  10.8
172                     Syria  Middle East and North Africa  10   13  11.2
170                     Yemen  Middle East and North Africa  10   14  11.6
169                     Libya  Middle East and North Africa  10   14  11.6
168               Afghanistan                  Asia Pacific  10   15  12.0
166                      Iraq  Middle East and North Africa  10   17  12.8
160  Central African Republic            Sub-Saharan Africa  10   20  14.0
171                     Sudan            Sub-Saharan Africa  22   14  18.8

## Find the average ULT Score by Region

In [11]:
regions = df2.drop(['Country', 'GI', 'CPI'], axis=1)
regions1 = regions.groupby('Region')
regions2 = regions1.mean().sort_values('ULT', ascending=False)
regions2

                                    ULT
Region
Europe and Central Asia       55.220000
Asia Pacific                  44.466667
Americas                      42.818750
Middle East and North Africa  33.166667
Sub-Saharan Africa            33.008696

## save the dataframes as a new csv file

In [12]:
df3 = df2.sort_values('ULT', ascending=False)
df3.reset_index(drop=True)
df3.to_csv('my_analysis.csv')
regions2.to_csv('regions.csv')